
body {
  background-image: url("assets/background.png");
}

button.btn.btn-danger {
  display: block;
  margin-left: auto;
  margin-right: auto
}

button.btn.btn-success {
  display: block;
  margin-left: auto;
  margin-right: auto
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

h5 {
  text-align: center;
}

